@font-face {
    font-family: OpenSans;
    src: url(./Font/OpenSans-Regular.ttf);
}
/* Font chữ */
* {
    font-family: Opensans;
    font-size: 20px;
}
/* trang trí chữ */
a {
    text-decoration: none;
    font-size: 20px;
}
.title-color{
    color:#FFC700;
}
.a--title {
    color: black;
    font-weight: bold;
}
.display-1 {
    font-size: 36px;
}
.display-2 {
    font-size: 30px;
}
.display-3 {
    font-size: 20px;
}
.display-4{
    font-size: 16px;
}
/* layout */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.row {
    display: flex;
}
.d-flex {
    display: flex;
}

.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.layout-2--item:nth-of-type(2){
    padding: 0px;
}
.layout-2--item:nth-of-type(1){
    text-align: justify;
}
.layout-2{
    padding-top: 20px;
}

#post {
    padding: 0 20px;
    margin-bottom: 10px;
}
/* Bài viết liên quan */
.blog__position {
    position: relative;
    z-index: 1;
}

.blog_bottom {
    display: flex;
}

.summary_blog {
    max-width: 100%;
    color: black;
}

.content_margin--cun1 {
    margin-left: 10%;
    margin-right: 10%;
}

.content_blog {
    position: relative;
    z-index: 2;
    width: 94%;
    top: -110px;
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 30px;
}
.image-content{
    width:600px;
    height:350px;
    object-fit: cover;
}
.readmore {
    color: black;
}
.content__underline {
    text-decoration: underline;
    margin-left: 15px;
}
.post-time {
    color: #FFC700;
}
.time__color {
    color: darkgrey;
}
.img-responsive {
    width: 100%;
    border-radius: 30px;
}
/* Bài viết nổi bật */
.cart-avar{
    width:160px;
    height:94px;
    object-fit: cover;
}
.post-item {
    border-bottom: 2px dashed #FFC700;
}
.main {
    background-color: #FEF8E1;
    min-width: 300px;
}
.trending-banner{
    display:block;
    width: 100%;
    height:100%;
    object-fit: cover;
}
/* phần chia sẻ mxh */
.link-pinterest {
    color: rgb(177, 41, 41);
}
.link-twitter {
    color: rgb(17, 151, 240);
}
/* Phân trang */
.pagination {
    justify-content: center;
    margin-top: 10px;
}

.page-item {
    width: 50px;
    margin-bottom: 80px;
    margin-left: 5px;
}
/* Định dạng header */
.frame--header--container{
    height: 300px;
    position: relative;
    min-width: 300px;
}
.frame--header{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* Định dạng footer */
.frame--footer--container{
    height: 400px;
    position: relative;
    min-width: 300px;
    margin-top: -69px;
}
.frame--footer{
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
}
/* Bắt width thay đổi nội dung footer tại width=790px */
@media screen and (max-width: 790px) {
    .frame--footer--container{
        height: 450px !important;
    }
    .frame--footer{
        height: 400px !important;
    }
    
}

@media (max-width: 720px){
    *{
        font-family: Opensans;
        font-size: 15px;
    }
    .blog__width--baiviet{
        width: 120px;
    }
    .frame--footer--container{
        height: 500px !important;
    }
    .frame--footer{
        height: 450px !important;
    }
    .image-content{
        width:450px;
        height:260px;
        object-fit: cover;
    }
    .frame--header--container{
        height: 150px !important;
        min-width: 300px;
    }
    .container{
        margin-bottom: 20px;
    }
}

@media (max-width: 500px){
    *{
        font-family: Opensans;
        font-size: 15px;
    }
    .blog__width--baiviet{
        width: 100px;
    }
    .content_blog{
        position: relative;
        z-index: 2;
        width: 94%;
        top: -50px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 3%;
    }
    .page__bg{
        min-width: 300px;
    }
    .image-content{
        width:250px;
        height:150px;
        object-fit: cover;
    }
}
