@font-face {
    font-family: OpenSans;
    src: url(../CSS/Font/OpenSans-Regular.ttf);
}
*{
    font-family: Opensans;
    font-size: 20px;
}
.dangnhap--container{
    width: 40%;
    padding: 10px 20px;
    margin: auto;
    margin-top: 50px;
    min-width: 300px;
}
.dangnhap--title{
    font-weight: bold;
}
.dangnhap--sdt span, .dangnhap--matkhau span{
    color: red;
}
.dangnhap--container>*{
    margin-bottom: 10px;
}

form>*{
    margin-bottom: 20px;
}
.input{
    padding: 5px 10px;
}
.dangnhap--matkhau>label, .dangnhap--sdt>label, .dangnhap--google>label{
    margin-bottom: 10px;
}

.dangnhap--matkhau>input,.dangnhap--sdt>input{
    border: 1px solid #FFC700;
    height: 2rem;
    border-radius: 5px;
}
.dangnhap--matkhau>input:focus,.dangnhap--sdt>input:focus{
    outline: 1px solid #FFD541;
}


/* Canh giữa nội dung */
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dangnhap--dangky{
    text-align: center;
}

/* Định dạng button */
.btn--dangnhap>input{
    border: 1px solid #FFC700;
    background-color: #FFC700;
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn--dangnhap>input:hover{
    background-color: #FFD541;
    border: 1px solid #FFC700;
}
.btn--dangnhap>input:focus{
    box-shadow: none !important;
    background-color: #FFD541;
    border: 1px solid #FFC700;
}

.btn--google{
    width: 80%;
    border: 1px solid #dd4b39;
    background-color: #dd4b39;
    height: 50px;
    border-radius: 5px;
    color: white;
}
.fab.fa-google{
    margin-right: 10px;
    margin-left: 0px;
    font-size: 1.5rem;
    color: white;
}
/* Đinh dạng chuyển hướng đăng ký */
a, a:hover, a:visited{
    text-decoration: none;
    color: red;
}


/* Định dạng responsive */
@media screen and (max-width: 1000px) {
    .btn--google{
        font-size: 15px;
    }
    .btn--dangnhap>button{
        font-size: 15px;
        width: 100px;
    }
}
@media screen and (max-width: 720px) {
    *{
        font-size: 12px;
    }
    .btn--google{
        height: 35px;
        
    }
    .dangnhap--container{
        width: 70%;
    }
    .frame--header--container{
      height: 150px !important;
      min-width: 300px;
    }
    
    .frame--footer--container{
        height: 500px !important;
        min-width: 300px;
    }
    .frame--footer{
        height: 450px !important;
        min-width: 300px;
    }
}
@media screen and (max-width: 500px){
    .dangnhap--container{
        margin-top: 0px;
    }
}

/* Định dạng header */
.frame--header--container{
    width: 100%;
    height: 300px;
    position: relative;
    min-width: 300px;
}
.frame--header{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* Định dạng footer */
.frame--footer--container{
    width: 100%;
    height: 350px;
    position: relative;
    min-width: 300px;
}
.frame--footer{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}


