<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../CSS/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../CSS/grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.min.css">
    <script src="../JS/Giohang_themSP.js"></script>
</head>

<body>
    <div class="app">
        <a href="../HTML/HOME.html">
            <div class="header">
                <img src="../Image/header.jpg" alt="SunPet">
                <div class="header--overlay"></div>
            </div>
        </a>
        <div class="app__container">
            <div class="grid wide">
                <div class="row sm-gutter ">
                    <div class="col l-5 ">
                        <div class="home-product-item">
                            <div class="item-img">
                                <img src="../Image/14-1.jpg" class="home-product-item__img" alt="">
                            </div>
                            <div class="item-dt">
                                <img src="../Image/14-1.jpg" class="item-dt-1" alt="">

                                <img src="../Image/14-2.png" class="item-dt-1" alt="">

                                <img src="../Image/14-3.png" class="item-dt-1" alt="">

                                <img src="../Image/14-4.png" class="item-dt-1" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col l-7 ">
                        <h2 class="home-product-item__name">Sữa bột cho chó Dr.Kyan Predogen</h2>
                        <div class="home-product-item__price">
                            <span class="home-product-item__price-curent">250.000đ</span>
                            <span class="home-product-item__price-old">349.000đ</span>
                        </div>
                        <div class="home-product-item__sl">
                            <label class="home-product-item__label"> Số lượng:</label>
                            <input class="home-product-item__input" value="1" type="number" id="quantity" name="quantity" min="1" />

                        </div>
                        <div class="home-product-item__buy">
                            <a href="#" onclick="muaNgay()"><button class="home-product-item__buy btn-mua">MUA
                                    NGAY</button>
                            </a>
                            <a href="#"><button class="home-product-item__buy btn-them" onclick="them()">THÊM VÀO GIỎ
                                    HÀNG</button></a>
                        </div>
                    </div>
                </div>
                <div class="motasp">
                    <div class="home-product-item__mota">
                        <button class="home-product-item__mota btn-mota">MÔ TẢ SẢN PHẨM</button>
                        <button class="home-product-item__mota btn-inf">THÔNG TIN SẢN PHẨM</button>
                    </div>
                    <div class="text1">
                        Đối với chó yêu sữa đóng một vai trò rất quan trọng sau khi chào đời và trong cả quá trình phát triển sau này, sữa có thể cung cấp những dưỡng chất đặc biệt mà các thực phẩm khác không có.
                    </div>
                    <div class="text1">
                        <span class="inline"> Thông tin dinh dưỡng trong 100gr sữa bột :</span> <br> - Năng lượng / Energy : 440gr. <br> - Độ ẩm/Moisture: 5gr. <br> - Chất đạm/ Protein : 15gr. <br> - Chất béo/ fat : 18,9gr. <br> - Xơ thô/ Fiber : 0,05gr.
                        <br> - Khoáng chất/ Mineral: 5gr.
                    </div>
                    <div class="text1">
                        <span class="inline"> Thành Phần: </span> <br> Sữa bột nguyên kêm, Sữa bột gầy,Nondairy creamer, Maltodẽtrin,Sucrose,Whey protein concentrate,Hương dùng trong thực phẩm,Chất xơ Inulin, Lysine, Nano - Precipitated Calcium Carbonate,Vitamin
                        C, Vitamin K1, Vitamin B6, Vitamin B1, VitaminB2, Vitamin D3, Vitamin A, Vitamin B12, Vitamin Axit Pantothenic, Biotine, Axit Folic... <br> - Sữa Predogen của Dr.Kyan là loại sữa bột dành cho mèo phong phú và đa dạng phù hợp với
                        các nhu cầu dinh dưỡng cho mèo, giúp hỗ trợ phát triển trí não, kích thích thèm ăn, cung cấp những chất xơ cần thiết giúp hệ tiêu hóa khỏe mạnh hơn. <br> - Cung cấp vitamin A tốt cho mắt và ngăn biến chứng võng mạc, giúp cho da
                        khỏe mạnh và có một bộ long bóng mượt. <br> - Bổ xung canxi Nano và vitamin D, <br> - Với một lượng canxi và vitamin D dồi dào hấp thu tối ưu nhất vào xương, giúp xương và răng chắc khỏe, đặc biệt không tạo ra sỏi thận như thức
                        ăn thông thường. <br> - Canxi nano và vitamin D : Kích thước siêu nhỏ giú hấp thụ tối ưu vào xương, giúp xương và rang chắc khỏe, đặc biệt không tạo ra sỏi thận như thức ăn thông thường. <br> - Vitamin A : Tốt cho mắt và ngăn biến
                        chứng võng mạc. <br> - Biotine : Giúp cho da khỏe mạnh và bộ lông bóng mượt. <br> - Lnulin :chất xơ tự nhiên giúp hệ tiêu hóa khỏe mạnh. <br> - Lysine : Kích thích thèm ăn <br> - Folic acid : Hỗ trợ phát triển trí não.
                    </div>
                    <div class="text1">
                        <span class="inline"> Hướng dẫn sử dụng:</span> <br>
                        <span class="inline">Chó con dưới 1 tháng tuổi:</span> Hòa 1 muỗng sữa bột ( khoảng 5gr ) vào 10ml nước ấm, chia thành 4-6 lần, dung bình cho bú hoặc để mèo tự ăn hết trong ngày.<br>
                        <span class="inline">Chó con từ 1 – 2 tháng tuổi: </span> Hòa 2 muỗng sữa bột (khoảng 10gr) với 20ml nước ấm, chia thành 3- 4 lấn ăn trong ngày.<br>
                        <span class="inline">Chó trên 2 tháng tuổi:</span> Cho ăn khoảng 2-3 lần/ ngày như bữa phụ xen kẽ với các bữa chính, mỗi lần cho ăn bằng cách hòa 2 -3 muỗng sữa bột (khoảng 10 - 15gr) với 20ml - 30ml nước ấm để tự ăn. <br>
                        <span class="inline">Chó đang ốm/ còi/ đang mang thai:</span> cho ăn khoảng 3 lần/ ngày như bữa phụ xen kẽ với các bữa chính, mỗi lần cho ăn bằng cách hòa 2- 3 muỗng sữa bột (khoảng 10- 15gr) với 20- 30ml nước ấm để tự ăn. <br>                        - Sữa bột dành cho chó PREDOGEN được sản xuất theo công thức của WONDERLIFE PHARMA (mỹ) là một thực phẩm bổ dưỡng cho chó yêu của bạn ngoài những thức ăn thông thường, giúp chó yêu cảm thấy ngon miệng hơn, bồi bổ cơ thể và cung
                        cấp những thứ cần thiết để phát triển toàn diện. <br> - Sữa Predogen của Dr.Kyan là loại sữa bột dành cho chó phong phú và đa dạng phù hợp với các nhu cầu dinh dưỡng cho chó, hỗ trợ phát triển trí não, kích thích thèm ăn, cung
                        cấp những chất xơ cần thiết giúp hệ tiêu hóa khỏe mạnh hơn. Cung cấp vitamin A tốt cho mắt và ngăn biến chứng võng mạc, giúp cho da khỏe mạnh và có một bộ long bóng mượt. Bổ xung canxi Nano và vitamin D, với một lượng canxi và
                        vitamin D dồi dào hấp thu tối ưu nhất vào xương, giúp xương và rang chắc khỏe, đặc biệt không tạo ra sỏi thận như thức ăn thông thường.
                    </div>
                    <div class="text1">
                        <span class="inline"> Bảo quản:</span> <br> - Nơi khô ráo thoáng mát. <br> - Sữa đã pha, bảo quản trong tủ lạnh được 24h. <br>
                    </div>
                </div>
                <div class="home-product1">
                    <h3 class="prodct-lq">Sản phẩm liên quan</h3>
                    <div class="row sm-gutter">
                        <!-- <h3>Sản phẩm liên quan</h3> -->
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail1.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/sua-bot-cho-meo-dr-kyan-precaten-anh.jpg?v=1626752115000);">
                                </div>
                                <h4 class="home-product-item1__name">Sữa cho mèo Dr.Kyan Precaten</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">500.000đ</span>
                                    <span class="home-product-item1__price-old">590.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail6.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/62.png?v=1626747381000);">
                                </div>
                                <h4 class="home-product-item1__name">Bình trữ thức ăn tự động cho thú cưng</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">110.000đ</span>
                                    <span class="home-product-item1__price-old">210.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail8.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/tb2iokzgaowbunjssppxxxpgpxa-829197117.jpg?v=1626745922000);">
                                </div>
                                <h4 class="home-product-item1__name">Balo vận chuyển cho thú cưng Phi hành</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">390.000đ</span>
                                    <span class="home-product-item1__price-old">579.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail10.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/52.png?v=1626693016000);">
                                </div>
                                <h4 class="home-product-item1__name">
                                    Sữa tắm cho chó lông trắng SPIRIT White Dog</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">150.000đ</span>
                                    <span class="home-product-item1__price-old">200.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail11.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/5abd36eb09d04459b9d76a6cf928691b.jpg?v=1626691738000);">
                                </div>
                                <h4 class="home-product-item1__name">Đồ chơi cho mèo PAW Happy Pet Circle </h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">160.000đ</span>
                                    <span class="home-product-item1__price-old">200.000đ</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame--footer--container">
            <iframe src="../HTML/Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
        </div>
    </div>
    <script src="../JS/ChiTietSanPham.js"></script>
    <script>
        function them() {
            if (localStorage.getItem('phienDangNhap') != null) {
                //Lấy id Giỏ hàng của khách hàng
                var idGioHang = layIdGioHang();


                //Lấy danh sách item giỏ hàng của khách hàng từ local storage
                var danhSachItemGioHang = layDanhSachItemGioHang(idGioHang);

                //Tạo đối tượng item giỏ hàng
                var itemGioHang = taoDoiTuongItemGioHang(idGioHang, '91502243_1636817383654', quantity.value);

                //Thêm vào giỏ hàng
                themSanPhamVaoGioHang(itemGioHang);

                alert('Thêm sản phẩm vào giỏ hàng thành công!');
            } else {
                alert('Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!');
                window.open('../HTML/Dang_nhap.html', '_self');
            }
        }

        function muaNgay() {
            if (localStorage.getItem('phienDangNhap') != null) {
                //Lấy id Giỏ hàng của khách hàng
                var idGioHang = layIdGioHang();


                //Lấy danh sách item giỏ hàng của khách hàng từ local storage
                var danhSachItemGioHang = layDanhSachItemGioHang(idGioHang);

                //Tạo đối tượng item giỏ hàng
                var itemGioHang = taoDoiTuongItemGioHang(idGioHang, '29755420_1636817383654', quantity.value);

                //Thêm vào giỏ hàng
                themSanPhamVaoGioHang(itemGioHang);

                window.open('../HTML/Dat_hang.html', '_self');
            } else {
                alert('Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!');
                window.open('../HTML/Dang_nhap.html', '_self');
            }
        }
    </script>
</body>

</html>