<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../CSS/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../CSS/grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.min.css">
    <script src="../JS/Giohang_themSP.js"></script>
</head>

<body>
    <div class="app">
        <a href="../HTML/HOME.html">
            <div class="header">
                <img src="../Image/header.jpg" alt="SunPet">
                <div class="header--overlay"></div>
            </div>
        </a>
        <div class="app__container">
            <div class="grid wide">
                <div class="row sm-gutter ">
                    <div class="col l-5 ">
                        <div class="home-product-item">
                            <div class="item-img">
                                <img src="../Image/3-1.png" class="home-product-item__img" alt="">
                            </div>
                            <div class="item-dt">
                                <img src="../Image/3-2.png" class="item-dt-1" alt="">

                                <img src="../Image/3-3.png" class="item-dt-1" alt="">

                                <img src="../Image/3-4.png" class="item-dt-1" alt="">

                                <img src="../Image/3-5.png" class="item-dt-1" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col l-7 ">
                        <h2 class="home-product-item__name">Canxi Phốt Pho-hỗ trợ điều trị cho thú cưng</h2>
                        <div class="home-product-item__price">
                            <span class="home-product-item__price-curent">276.000đ</span>
                            <span class="home-product-item__price-old">399.000đ</span>
                        </div>
                        <div class="home-product-item__sl">
                            <label class="home-product-item__label"> Số lượng:</label>
                            <input class="home-product-item__input" value="1" type="number" id="quantity" name="quantity" min="1" />

                        </div>
                        <div class="home-product-item__buy">
                            <a href="#" onclick="muaNgay()"><button class="home-product-item__buy btn-mua">MUA NGAY</button>
                            </a>
                            <a href="#"><button class="home-product-item__buy btn-them" onclick="them()">THÊM VÀO GIỎ
                                    HÀNG</button></a>
                        </div>
                    </div>
                </div>
                <div class="motasp">
                    <div class="home-product-item__mota">
                        <button class="home-product-item__mota btn-mota">MÔ TẢ SẢN PHẨM</button>
                        <button class="home-product-item__mota btn-inf">THÔNG TIN SẢN PHẨM</button>
                    </div>
                    <div class="text1">
                        Canxi Phốt Pho của hãng PetAg ( Mỹ ) là canxi hàng đầu trong việc điều trị bệnh liên quan đến hệ thống khung xương của chó mèo như sập bàn, hạ bàn, thiếu canxi, còi xương v...v... <br> - Với công thức cân bằng kết hợp canxi hàm
                        lượng cao với Phốt Pho và Vitamin D trong cùng 1 viên thuốc giúp động vật có thể hấp thụ canxi tối ưu để phát triển khung xương chắc khoẻ hoặc đáp ứng nhu cầu canxi cho động vật đang trong thời kì sinh sản, mang thai. <br> - Canxi
                        Phốt pho dạng viên nén với mùi vị hấp dẫn rất dễ sử dụng cho các loại động vật.
                    </div>
                    <div class="text1">
                        <span class="inline"> Hướng dẫn sử dụng:</span> <br><br>
                        <span class="inline">Cho chó :</span> <br> + Để bổ sung hàng ngày : dùng 1/2 viên cho 10 kg trọng lượng cơ thể <br> + Chó điều trị hạ bàn, sập bàn, cong chân, chó mẹ mang thai, chó đang trong giai đoạn tăng trưởng : 1 viên cho
                        10 kg trọng lượng cơ thể. <br> Chú ý : không được dùng quá 3 viên /ngày<br> <br>
                        <span class="inline">Cho mèo :</span> <br> + Để bổ sung hàng ngày : dùng 1/4 viên cho 2 kg trọng lượng cơ thể <br> + Mèo điều trị thiếu canxi, liệt chân, mèo mẹ đang mang thai: 1/2 viên cho 2 kg trọng lượng cơ thể. Chú ý : Không
                        được dùng quá 1 viên /ngày <br> - Lưu ý khi sử dụng : <br> + Tất cả các thuốc Vitamin và khoáng chất chủ vật nuôi nên cho uống trước 10gìơ sáng để cơ thể thú cưng hấp thụ được tốt nhiều nhất các chất dinh dưỡng. <br> + Vật nuôi
                        bắt buộc phải được tắm nắng hàng ngày hoặc nuôi trong môi trường có ánh sáng mặt trời để cơ thể thú cưng tự tổng hợp được canxi, phát triển toàn diện. <br> - Thành phần dinh dưỡng trong 1 viên <br> + Canxi .....360mg <br> + Photpho...
                        250mg <br> + Vitamin D3 .... 245IU <br> - Bảo quản : để sản phẩm nơi khô mát, tránh ánh sáng mặt trời.
                    </div>
                    <div class="text1">
                        <span class="inline">Hộp 50 Viên</span> <br>
                    </div>
                    <div class="text1">
                        <span class="inline">Xuất xứ : Mỹ</span> <br>
                    </div>
                </div>
                <div class="home-product1">
                    <h3 class="prodct-lq">Sản phẩm liên quan</h3>
                    <div class="row sm-gutter">
                        <!-- <h3>Sản phẩm liên quan</h3> -->
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail1.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/sua-bot-cho-meo-dr-kyan-precaten-anh.jpg?v=1626752115000);">
                                </div>
                                <h4 class="home-product-item1__name">Sữa cho mèo Dr.Kyan Precaten</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">500.000đ</span>
                                    <span class="home-product-item1__price-old">590.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail6.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/62.png?v=1626747381000);">
                                </div>
                                <h4 class="home-product-item1__name">Bình trữ thức ăn tự động cho thú cưng</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">1110.000đ</span>
                                    <span class="home-product-item1__price-old">210.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail8.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/tb2iokzgaowbunjssppxxxpgpxa-829197117.jpg?v=1626745922000);">
                                </div>
                                <h4 class="home-product-item1__name">Balo vận chuyển cho thú cưng Phi hành</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">390.000đ</span>
                                    <span class="home-product-item1__price-old">579.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail10.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/52.png?v=1626693016000);">
                                </div>
                                <h4 class="home-product-item1__name">
                                    Sữa tắm cho chó lông trắng SPIRIT White Dog</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">150.000đ</span>
                                    <span class="home-product-item1__price-old">200.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail11.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/5abd36eb09d04459b9d76a6cf928691b.jpg?v=1626691738000);">
                                </div>
                                <h4 class="home-product-item1__name">Đồ chơi cho mèo PAW Happy Pet Circle </h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">160.000đ</span>
                                    <span class="home-product-item1__price-old">200.000đ</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame--footer--container">
            <iframe src="../HTML/Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
        </div>
        <script src="../JS/ChiTietSanPham.js"></script>
        <script>
            function them() {
                if (localStorage.getItem('phienDangNhap') != null) {
                    //Lấy id Giỏ hàng của khách hàng
                    var idGioHang = layIdGioHang();


                    //Lấy danh sách item giỏ hàng của khách hàng từ local storage
                    var danhSachItemGioHang = layDanhSachItemGioHang(idGioHang);

                    //Tạo đối tượng item giỏ hàng
                    var itemGioHang = taoDoiTuongItemGioHang(idGioHang, '31158122_1636817383654', quantity.value);

                    //Thêm vào giỏ hàng
                    themSanPhamVaoGioHang(itemGioHang);

                    alert('Thêm sản phẩm vào giỏ hàng thành công!');
                } else {
                    alert('Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!');
                    window.open('../HTML/Dang_nhap.html', '_self');
                }
            }

            function muaNgay() {
                if (localStorage.getItem('phienDangNhap') != null) {
                    //Lấy id Giỏ hàng của khách hàng
                    var idGioHang = layIdGioHang();


                    //Lấy danh sách item giỏ hàng của khách hàng từ local storage
                    var danhSachItemGioHang = layDanhSachItemGioHang(idGioHang);

                    //Tạo đối tượng item giỏ hàng
                    var itemGioHang = taoDoiTuongItemGioHang(idGioHang, '29755420_1636817383654', quantity.value);

                    //Thêm vào giỏ hàng
                    themSanPhamVaoGioHang(itemGioHang);

                    window.open('../HTML/Dat_hang.html', '_self');
                } else {
                    alert('Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!');
                    window.open('../HTML/Dang_nhap.html', '_self');
                }
            }
        </script>
    </div>
</body>

</html>