<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../CSS/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../CSS/grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.min.css">
    <script src="../JS/Giohang_themSP.js"></script>
</head>

<body>
    <div class="app">
        <a href="../HTML/HOME.html">
            <div class="header">
                <img src="../Image/header.jpg" alt="SunPet">
                <div class="header--overlay"></div>
            </div>
        </a>
        <div class="app__container">
            <div class="grid wide">
                <div class="row sm-gutter ">
                    <div class="col l-5 ">
                        <div class="home-product-item">
                            <div class="item-img">
                                <img src="../Image/../Image/Detail5_1.png" class="home-product-item__img" alt="">
                            </div>
                            <div class="item-dt">
                                <img src="../Image/Detail5_1.png" class="item-dt-1" alt="">

                                <img src="../Image/Detail5_2.png" class="item-dt-1" alt="">

                                <img src="../Image/Detail5_3.png" class="item-dt-1" alt="">

                                <img src="../Image/Detail5_4.png" class="item-dt-1" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col l-7 ">
                        <h2 class="home-product-item__name">Bát ăn đôi nhựa hình xương cho thú cưng</h2>
                        <div class="home-product-item__price">
                            <span class="home-product-item__price-curent">39.000đ</span>
                            <span class="home-product-item__price-old">69.000đ</span>
                        </div>
                        <div class="home-product-item__sl">
                            <label class="home-product-item__label"> Số lượng:</label>
                            <input class="home-product-item__input" value="1" type="number" id="quantity" name="quantity" min="1" />

                        </div>
                        <div class="home-product-item__buy">
                            <a href="#" onclick="muaNgay()"><button class="home-product-item__buy btn-mua">MUA
                                    NGAY</button> </a>
                            <a href="#"><button class="home-product-item__buy btn-them" onclick="them()">THÊM VÀO GIỎ
                                    HÀNG</button></a>
                        </div>
                    </div>
                </div>
                <div class="motasp">
                    <div class="home-product-item__mota">
                        <button class="home-product-item__mota btn-mota">MÔ TẢ SẢN PHẨM</button>
                        <button class="home-product-item__mota btn-inf">THÔNG TIN SẢN PHẨM</button>
                    </div>
                    <div class="text1">
                        - Thích hợp dành cho thú cưng từ 10kg trở xuống.<br> - Bát ăn cho chó mèo được làm từ chất liệu nhựa cao cấp không gây hại, không làm ảnh hưởng đến chất lượng thức ăn, màu sắc bất mắt giúp thú cưng ăn ngon mệng hơn.<br> - Chất
                        liệu nhựa tổng hợp, không phai màu, không mùi, rất được tin dùng hiện nay.<br> Màu sắc bắt mắt, giúp thú cưng tận hưởng bữa ăn hơn.<br> - Bát được thiết kế giúp chó mèo ăn chống rơi vãi ra nhà. - Bề mặt trơn láng, dễ dàng chùi
                        rửa sạch sẽ sau khi sử dụng.
                        <br> - Một là dạy cho thú cưng của bạn trở thành một thú cưng ngoan ăn uống đúng chỗ.<br> Hai là dạy cho thú cưng của bạn tránh không ăn phải bả chó của cẩu tặc.<br> - Nên nhớ tránh trường hợp cho thú cưng dùng chung vật dụng với
                        người vì vấn đề vệ sinh và lây bệnh.
                        <br> - Bát ăn cho chó mèo sản xuất từ chất liệu nhựa cao cấp không làm ảnh hưởng đến chất lượng thức ăn, màu sắc bắt mắt giúp thú cưng ăn ngon miệng hơn.<br> - Sản phẩm xứng đáng là sự lựa chọn lý tưởng của bạn dành cho thú cưng.<br>                        - Bề mặt trơn láng, dễ dàng chùi rửa sạch sẽ sau khi sử dụng. chất liệu tốt, bền, đẹp, không độc hại, không kích ứng với da.<br> - Sản phẩm được làm từ chất liệu nhựa cao cấp không gây hại, không làm ảnh hưởng đến chất lượng thức
                        ăn, màu sắc bất mắt giúp thú cưng ăn ngon mệng hơn.
                    </div>
                </div>
                <div class="home-product1">
                    <h3 class="prodct-lq">Sản phẩm liên quan</h3>
                    <div class="row sm-gutter">
                        <!-- <h3>Sản phẩm liên quan</h3> -->
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail1.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/sua-bot-cho-meo-dr-kyan-precaten-anh.jpg?v=1626752115000);">
                                </div>
                                <h4 class="home-product-item1__name">Sữa cho mèo Dr.Kyan Precaten</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">500.000đ</span>
                                    <span class="home-product-item1__price-old">590.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail6.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/62.png?v=1626747381000);">
                                </div>
                                <h4 class="home-product-item1__name">Bình trữ thức ăn tự động cho thú cưng</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">1110.000đ</span>
                                    <span class="home-product-item1__price-old">210.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail8.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/tb2iokzgaowbunjssppxxxpgpxa-829197117.jpg?v=1626745922000);">
                                </div>
                                <h4 class="home-product-item1__name">Balo vận chuyển cho thú cưng Phi hành</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">390.000đ</span>
                                    <span class="home-product-item1__price-old">579.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail10.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/52.png?v=1626693016000);">
                                </div>
                                <h4 class="home-product-item1__name">
                                    Sữa tắm cho chó lông trắng SPIRIT White Dog</h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">150.000đ</span>
                                    <span class="home-product-item1__price-old">200.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <!-- Product item -->
                            <a class="home-product-item1" href="Detail11.html" target="_self">
                                <div class="home-product-item1__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/large/100/432/370/products/5abd36eb09d04459b9d76a6cf928691b.jpg?v=1626691738000);">
                                </div>
                                <h4 class="home-product-item1__name">Đồ chơi cho mèo PAW Happy Pet Circle </h4>
                                <div class="home-product-item1__price">
                                    <span class="home-product-item1__price-curent">160.000đ</span>
                                    <span class="home-product-item1__price-old">200.000đ</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame--footer--container">
            <iframe src="../HTML/Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
        </div>
    </div>
    <script src="../JS/ChiTietSanPham.js"></script>
    <script>
        function them() {
            if (localStorage.getItem('phienDangNhap') != null) {
                //Lấy id Giỏ hàng của khách hàng
                var idGioHang = layIdGioHang();


                //Lấy danh sách item giỏ hàng của khách hàng từ local storage
                var danhSachItemGioHang = layDanhSachItemGioHang(idGioHang);

                //Tạo đối tượng item giỏ hàng
                var itemGioHang = taoDoiTuongItemGioHang(idGioHang, '94558606_1636817383654', quantity.value);

                //Thêm vào giỏ hàng
                themSanPhamVaoGioHang(itemGioHang);

                alert('Thêm sản phẩm vào giỏ hàng thành công!');
            } else {
                alert('Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!');
                window.open('../HTML/Dang_nhap.html', '_self');
            }
        }

        function muaNgay() {
            if (localStorage.getItem('phienDangNhap') != null) {
                //Lấy id Giỏ hàng của khách hàng
                var idGioHang = layIdGioHang();


                //Lấy danh sách item giỏ hàng của khách hàng từ local storage
                var danhSachItemGioHang = layDanhSachItemGioHang(idGioHang);

                //Tạo đối tượng item giỏ hàng
                var itemGioHang = taoDoiTuongItemGioHang(idGioHang, '29755420_1636817383654', quantity.value);

                //Thêm vào giỏ hàng
                themSanPhamVaoGioHang(itemGioHang);

                window.open('../HTML/Dat_hang.html', '_self');
            } else {
                alert('Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!');
                window.open('../HTML/Dang_nhap.html', '_self');
            }
        }
    </script>
</body>

</html>