<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../CSS/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/contact.css">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.min.css">
</head>
<body>
    <div class="web--container">
        <a href="../HTML/HOME.html">
            <div class="header">
             <img src="../Image/header.jpg" alt="SunPet">
             <div class="header--overlay"></div>
         </div></a>
        <div class="web--header">
            <h1>LIÊN HỆ</h1>
        </div>
        <div class="block--contact">
            <div class="row--inline">
                <div class="row--block">
                    <i class="fas fa-phone-alt"></i>
                    <h4>Hỗ trợ</h4>
                    <p>(+84) 012345678</p>
                </div>
                <div class="row--block">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Văn phòng giao dịch</h4>
                    <p>665 QL1, KP3, Linh Xuân, Thủ Đức, Thành phố Hồ Chí Minh</p>
                </div>
                <div class="row--block">
                    <i class="fas fa-envelope"></i>
                    <h4>Hỗ trợ mua hàng</h4>
                    <p>sunpet@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="map--form">
            <div class="web--map">
                <img src="../Image/map.png" alt="">
            </div>
            
            <form class="web--form" onsubmit="return layThongTin(name.value, phone.value, email.value, content.value)">
                <h5>Nếu bạn có thắc mắc thì hãy điền thông tin form dưới đây</h5>
                <div class="form--row">
                    <label for="name" class="form__label">Họ tên:
                    </label>
                    <input type="text" name="hoten" id="name" value="" class="form__input" required>
                </div>
                <div class="form--row">
                    <label for="phone" class="form__label">SĐT:</label>
                    <input type="number" name="phone" id="phone" class="form__input" required>
                </div>
                <div class="form--row">
                    <label for="email" class="form__label">Email:</label>
                    <input type="email"  name="mail" id="email" class="form__input" required>
                </div>
                <div class="form--row">
                    <label for="content" class="form__label">Nội dung:</label>
                    <input type="text" name="noidung" id="content"  class="form__input--1" required>
                </div>
                <div class="form--button">
                    <button type="submit" name="submit" value="Gui" class="form__button--send" id="btnSubmit" >Gửi
                    </button>
                </div>
                
            </form>
        </div>
        <div class="frame--footer--container">
            <iframe src="Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
        </div>
    </div>
    <script src="../JS/contact_get.js"></script>
    
</body>
</html>