<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../CSS/Dang_ky.css">
    <link rel="stylesheet" href="../CSS/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.min.css">
    <script src="../JS/dangKy - dangNhap.js"></script>
</head>
<body>
    <!-- Header -->
    <div class="frame--header--container">
        <iframe src="Header.html" frameborder="0" class="frame--header" scrolling="no"></iframe>
    </div>
    <!-- Nội dung đăng nhập -->
    <div class="dangky--container col-12">
        <div class="dangky--title">ĐĂNG KÝ</div>
        <div>THÔNG TIN CÁ NHÂN</div>
        <form action="Dang_nhap.html" method="get" class="col-12" onsubmit="return taoKhachHang(ho.value, ten.value, diachi.value, sdt.value, mk.value)">
            <div class="dangky--ho">
                <label for="ho" class="col-12">Họ <span>*</span></label>
                <input type="text" placeholder="Họ" id="ho" name="ho" class="col-12 input" required>
            </div>
            <div class="dangky--ten">
                <label for="ten" class="col-12">Tên <span>*</span></label>
                <input type="text" placeholder="Tên" id="ten" name="ten" class="col-12 input" required>
            </div>
            <div class="dangky--sdt">
                <label for="sdt" class="col-12">Số điện thoại <span>*</span></label>
                <input type="text" placeholder="Số điện thoại" id="sdt" name="sdt" class="col-12 input" required>
            </div>
            <div class="dangky--diachi">
                <label for="diachi" class="col-12">Địa chỉ <span>*</span></label>
                <input type="text" placeholder="Địa chỉ" id="diachi" name="diachi" class="col-12 input" required>
            </div>
            <div class="dangky--matkhau">
                <label for="mk" class="col-12">Mật khẩu <span>*</span></label>
                <input type="password" placeholder="Mật khẩu" id="mk" name="mk" class="col-12 input" required>
            </div>
            <div class="btn--dangky center">
                <input type="submit" class="btn-primary" value="Đăng ký">
            </div>
            <div class="dangky--dangnhap">
                Bạn đã có tài khoản?
               <a href="">Đăng nhập tại đây</a> 
            </div>
            <div class="dangnhap--google center">
                <label for="">Hoặc đăng nhập bằng</label>
                <button class="btn--google">
                   <div class="fab fa-google "></div> Continue with Google
                </button>
            </div>
        </form>
    </div>
    <!-- Nội dung footer -->
    <div class="frame--footer--container">
        <iframe src="Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
    </div>
</body>
</html>