<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="../CSS/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Gio_hang.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <script src="../JS/Giohang_themSP.js"></script>

</head>

<body>
    <!-- Header -->
    <a href="../HTML/HOME.html">
        <div class="header">
         <img src="../Image/header.jpg" alt="SunPet">
         <div class="header--overlay"></div>
     </div></a>

    <!-- Giỏ hàng -->
    <div class="giohang--bgr" id="dsGioHang">
        <section class="giohang1 col-md-12 col-lg-12 col-sm-12">
            <div class="title">
                GIỎ HÀNG CỦA BẠN
            </div>
            <div class="giohang-container">
                <div class="giohang--head">
                    <div class="col-2">Ảnh sản phẩm</div>
                    <div class="col-3">Tên sản phẩm</div>
                    <div class="col-2">Đơn giá</div>
                    <div class="col-2">Số lượng</div>
                    <div class="col-2">Thành tiền</div>
                    <div class="col-1">Xóa</div>
                </div>
                <div id="giohang1">
                    <div class="giohang--item">
                        <div class="giohang--anhsp col-2">
                            <img src="../Image/sanpham.PNG" alt="sanpham">
                        </div>
                        <div class="tensp col-3">
                            <a href="#">Thức ăn hạt mềm cho chó Zenith</a><br>
                            <span class="tensp--type">300g / Nhỏ</span>
                        </div>
                        <div class="giohang--dongia col-2">
                            <p>
                                300<span>.000 đ</span>
                            </p>
                        </div>
                        <div class="giohang--soluong col-2">

                            <button class="fas fa-minus btn-giam"></button>
                            <span class="soluong">1</span>
                            <button class="fas fa-plus btn-tang"></button>
                        </div>
                        <div class="giohang--thanhtien col-2">
                            <p>
                                300<span>.000 đ</span>
                            </p>
                        </div>
                        <div class="giohang--xoa col-1">
                            <button class="far fa-trash-alt btn-xoa"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row giohang--pttt">
                <div class="col-4 bold">
                    <div>Phương thức thanh toán</div>
                    <div class="input--cod">
                        <input type="radio" value="COD" checked> Thanh toán khi giao hàng
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bold">
                    <div class="tongtien">Tổng tiền: <span id="tongtien1">300</span><span>.000 đ</span></div>
                </div>
            </div>

            <div class="row giohang1--footer col-12">
                <div class="col-4 bold">
                    <a href="../HTML/Product.html">
                        <button class="btn-tieptucmuahang">Tiếp tục mua hàng</button>
                    </a>
                </div>
                <div class="col-4 bold">
                    <a href="../HTML/Dat_hang.html">
                        <button class="btn-tienhanhdathang">Tiến hành đặt hàng</button>
                    </a>
                </div>
            </div>
        </section>

        <section class="giohang2 col-md-12 col-lg-12 col-sm-12">
            <div class="title">
                GIỎ HÀNG CỦA BẠN
            </div>
            <div class="giohang--container">
                <div id="giohang2">
                    <div class="giohang--item">
                        <div class="giohang--anhsp">
                            <img src="../Image/sanpham.PNG" alt="sanpham">
                        </div>
                        <div class="item--group1">
                            <div class="tensp">
                                <a href="#">Thức ăn hạt mềm cho chó Zenith</a>
                                <span class="tensp--type">300g / Nhỏ</span>
                            </div>
                            <div class="giohang--dongia">
                                <span style="float: left;">Giá:&nbsp;</span>
                                <p>
                                    300<span>.000 đ</span>
                                </p>
                            </div>
                        </div>
                        <div class="item--group2">
                            <div class="giohang--soluong">
                                <button class="fas fa-minus btn-giam"></button>
                                <span class="soluong">1</span>
                                <button class="fas fa-plus btn-tang"></button>
                            </div>
                            <div class="giohang--thanhtien">
                                <div>Thành tiền:</div>
                                <p>
                                    300<span>.000 đ</span>
                                </p>
                            </div>
                            <div class="giohang--xoa">
                                <button class="btn-xoa">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="giohang2--footer">
                <div class="col-sm-12 col-xs-12 bold">
                    <div class="tongtien">Tổng tiền: <span id="tongtien2">300</span><span>.000 đ</span></div>
                </div>
                <div class="col-sm-12 col-xs-12 bold pttt">
                    <div>Phương thức thanh toán</div>
                    <div class="input--cod">
                        <input type="radio" value="COD" checked> Thanh toán khi giao hàng
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 bold btn-center">
                    <button class="btn-tieptucmuahang">Tiếp tục mua hàng</button>
                </div>
                <div class="col-sm-12 col-xs-12 bold btn-center">
                    <button class="btn-tienhanhdathang">Tiến hành đặt hàng</button>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div class="frame--footer--container">
        <iframe src="Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
    </div>


    <script>
        //Lấy id Giỏ hàng của khách hàng
        var idGioHang = layIdGioHang();

        document.getElementById('giohang1').innerHTML = hienThiDanhSachItemGioHang_Desktop(idGioHang);
        

        document.getElementById('giohang2').innerHTML = hienThiDanhSachItemGioHang_Mobile(idGioHang);
        

        //Hiển thị tổng giá trị đơn hàng
        document.getElementById('tongtien1').innerHTML = dinhDangTienTe((tinhTongGiaTriDonHang(idGioHang)/1000).toString());

        document.getElementById('tongtien2').innerHTML = dinhDangTienTe((tinhTongGiaTriDonHang(idGioHang)/1000).toString());

    </script>

</body>

</html>