<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem thong tin cá nhân</title>
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../CSS/Font-awesome/css/all.css">
    <link rel="stylesheet" href="../CSS/xemthongtin.css">
</head>

<body>
    <div class="web--container">
        <!-- Header -->
        <div class="web--header">
            <div class="web--header--1">
                <div class="header--logo">
                    <img src="../Image/logo_white.png" alt="">
                    <p>SUNPET</p>
                </div>
                <div class="header--common">
                    <div class="header--contact">
                        <div class="header--phone">
                            <i class="fas fa-phone"></i>
                            (+84) 012345678
                        </div>
                        <hr style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="header--email">
                            <i class="fas fa-envelope"></i>
                            sunpet@gmail.com
                        </div>
                    </div>
                    <div class="header--cart">
                        <i class="fas fa-shopping-bag"></i>
                    </div>
                    <div class="header--user">
                        Hi, user!
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <nav class="navbar navbar-expand-md sticky-top">
            <!-- sticky top dán chặt ở trên, na..md thì từ kích thước medium trở lên thì nó sẽ expand ra -->
            <div class="container-fluid">
                <!-- container-fluid là sẽ chiếm toàn bộ chiều ngang -->
                <div class="nav" data-target="collapse">
                    <nav class="nav__pc">
                        <ul class="navbar-nav ml-auto">
                            <!-- cho phép hiện các cái đường link khi co trang mình vào-->
                            <!-- ml auto là auto margin left -->

                            <li class="nav-item">
                                <!-- nav-item quy định màu là màu xanh, flex 1, mỗi item cách ra một khoảng -->
                                <a class="nav-link" href="#">TRANG CHỦ |</a>
                            </li>
                            <li class="nav-item">
                                <a href="Contact.html" class="nav-link">LIÊN HỆ |</a>
                            </li>
                            <li class="nav-item">
                                <a href="Product.html" class="nav-link">SẢN PHẨM |</a>
                            </li>
                            <li class="nav-item">
                                <a href="Blog_Trangchu.html" class="nav-link">BLOG |</i></a>
                            </li>

                        </ul>
                    </nav>
                    <label for="nav--input" class="nav__bars-btn">
                        <i class="fas fa-bars"></i>
                    </label>

                    <input type="checkbox" class="nav__input" name="" id="nav--input">

                    <label for="nav--input" class="navbar--overlay"></label>
                    <nav for="nav--input" class="nav--bar">
                        <label for="nav--input" class="nav--bar--close">
                            <i class="fas fa-times"></i>
                        </label>
                        <ul class="nav__list">
                            <li>
                                <a class="nav--link" href="#"><i class="fas fa-home"></i>TRANG CHỦ </a>
                            </li>
                            <li>
                                <a href="Contact.html" class="nav--link"><i class="fas fa-phone"></i> LIÊN HỆ </a>
                            </li>
                            <li>
                                <a href="Product.html" class="nav--link"><i class="fas fa-dolly"></i>SẢN PHẨM </a>
                            </li>
                            <li>
                                <a href="Blog_Trangchu.html" class="nav--link"><i class="fas fa-newspaper"></i>BLOG</a>
                            </li>

                        </ul>
                    </nav>
                </div>

                <!-- search -->
                <div class="search--bar">
                    <input type="text" value="" name="search" id="search" placeholder="Bạn muốn tìm gì?"
                        class="search--input">
                    <button type="button" id="search" class="search--button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </nav>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-2--item">
            <div class="form-wrapper">
                <form action="#" class="form">
                    <div class="form-row user">
                        <div class="user-header">
                            <div class="image-head">
                                <img src="../Image/user-ava.jpg" alt="" class="circle">
                            </div>
                            <div class="image-head">
                                <h4 class="nameofuser">LÊ KI WI</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">Tên:</label>
                        </div>
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">Tuổi:</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">Email:</label>
                        </div>
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label for="">SĐT</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data textarea">
                            <textarea rows="8" cols="80" required></textarea>
                            <br/>
                            <div class="underline"></div>
                            <label for="">Địa chỉ:</label>
                        </div>
                    </div>
                    <div class="form-row submit-btn">
                        <div class="input-data ">
                            <input type="submit" value="Cập nhật thông tin" class="button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="frame--footer--container w-100">
        <iframe src="Footer.html" frameborder="0" class="frame--footer" scrolling="no"></iframe>
    </div>
</body>
</html>